@import "./variables.scss";

// <ПОДКЛЮЧЕНИЕ ШРИФТОВ>
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
// </ПОДКЛЮЧЕНИЕ ШРИФТОВ>

//<ШРИФТ ПО УМОЛЧАНИЮ>
$fontFamily: "Inter";
//</ШРИФТ ПО УМОЛЧАНИЮ>

//<ПОДКЛЮЧЕНИЕ ОБЯЗАТЕЛЬНЫХ SCSS КОМПОНЕНТОВ>
@import "./null.scss";
//</ПОДКЛЮЧЕНИЕ ОБЯЗАТЕЛЬНЫХ SCSS КОМПОНЕНТОВ>

//<ОБОЛОЧКА>
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;

  &.loaded {
  }
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 100%;
  width: 100%;
}
//</ОСНОВНАЯ СЕТКА>

//<ОБЩИЕ СТИЛИ>
@import "../common/index.scss";
//</ОБЩИЕ СТИЛИ>
